* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: top center;
}
.app-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px 0px 16px 0;
  border-bottom: 3px solid #df8e00;
  color: #333;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
header input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 16px 0px 16px;
}
